<% if loggedin? %>
	<% provide(:title, 'Microposts') %>
	<div class="row">
		<aside class="col-md-4">
			<section class="user_info center">
				<%= render 'shared/user_info' %>
			</section>
			<section class="stats center">
				<%= render 'shared/stats' %>
			</section>
			<section class="micropost_form">
				<%= render 'shared/micropost_form' %>
			</section>
		</aside>
		<div class="col-md-8">
			<h3>Micropost Feed</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
	<div class="center jumbotron">
		<h1>Welcome to the Members Only App</h1>
		
		<h3>
      If you want to see the micropost feed, <br /><br />
      <%= link_to "Log in now!", login_path, class: "btn btn-lg btn-primary" %><br /><br />
      and start reading them.
    </h3>
		
	</div>
<% end %>
