<p><b>Location: </b><%= @event.location %></p> 
<p><b>Host: </b><%= @event.creator.name %></p>
<p><%= @event.description %></p>
<p><%= @event.date %></p>

<%= link_to "Make invitations", new_invitation_path %>

<% if logged_in? && current_user.attending?(@event) && Time.now < @event.date %> 
	<%= form_for(current_user.event_attendees.find_by(attended_event_id: @event.id),
		html: { method: :delete }) do |f| %>
		<%= f.submit "Cancel" %>
	<% end %>
<% else %>
	<% if logged_in? && @event.creator != current_user && Time.now < @event.date %>
		<%= form_for(current_user.event_attendees.build(attended_event_id: @event.id)) do |f| %>
			<%= f.hidden_field :attended_event_id %>
			<%= f.submit "Attend" %>
		<% end %>
	<% end %>
<% end %>

<% if @event.attendees.any? %>	
	<h3>Total (<%= @event.attendees.count %>) attendees</h3>
	<ul>
		<% @event.attendees.each do |attendee| %>
			<li>
				<p><b>Name: </b><%= link_to attendee.name, attendee %></p> 
				<p><b>email: </b><%= attendee.email %></p>				
			</li>
		<% end %>
	</ul>	
<% else %>
	<h3>No attendees yet</h3>
<% end %>
